@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #101010;
  font-family: "Ropa Sans";
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

/* CUSTOM SCROLLBAR */

/* NAVBAR */

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vw;
  background: transparent;
}

header .logo {
  margin-left: 30px;
}

header .logo img {
  width: 3vw;
}

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 15px;
}

header .nav h3 {
  font-size: 20px;
  margin: auto 18px;
  font-weight: bold;
  color: rgb(243, 243, 243);
  cursor: pointer;
}

.nav h3:hover{
  text-decoration: underline;
}

header .search {
  font-family: Outfit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(240, 255, 255, 0.441);
  width: 30vw;
  padding: 5px 10px;
  border-radius: 50px;
  gap: 10px;
  color: rgb(243, 243, 243);
  font-size: 15px;
}

header .nav-buttons {
  margin-right: 30px;
}

/* NAVBAR */

/* HERO */

.slider {
  background: transparent;
  overflow: hidden;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  box-shadow: #000 10px 10px 10px;
}

.sliderBg img{
  position: absolute;
  width: 100%;
  height: auto;
}

.sliderImg {
  width: 45vw;
  z-index: 1;
}

.sliderTitle {
  font-family: Outfit;
  position: absolute;
  right: 2%;
  line-height: 4.2vw;
  font-size: 5vw;
  font-weight: 900;
  z-index: 1;
  text-align: right;
  background: -webkit-linear-gradient(135deg,rgb(0, 0, 0), #137af9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.sliderPrice {
  position: absolute;
  left: 8%;
  font-size: 5vw;
  font-weight: 800;
  text-align: center;
  z-index: 1;
  text-align: left;
  line-height: 4vw;
  color: #fff;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #137af9;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: #fb3333;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: #3232f3;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: #ff0b02;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: #ffd633;
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #137af9;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: #fb3333;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: #3232f3;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: #ff0b02;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: #ffd633;
}


.sliderItem:nth-child(1) .sliderTitle {
  text-shadow: 1px 1px 1px #ffffff,
        1px 2px 1px #137af9,
        1px 3px 1px #137af9,
        1px 4px 1px #137af9,
        1px 5px 1px #137af9,
        1px 6px 1px #137af9,
        1px 7px 1px #137af9,
        1px 8px 1px #137af9,
        1px 9px 1px #137af9;
}
.sliderItem:nth-child(2) .sliderTitle {
  text-shadow: 1px 1px 1px #ffffff,
        1px 2px 1px #fb3333,
        1px 3px 1px #fb3333,
        1px 4px 1px #fb3333,
        1px 5px 1px #fb3333,
        1px 6px 1px #fb3333,
        1px 7px 1px #fb3333,
        1px 8px 1px #fb3333,
        1px 9px 1px #fb3333;
}
.sliderItem:nth-child(3) .sliderTitle {
  text-shadow: 1px 1px 1px #ffffff,
        1px 2px 1px #3232f3,
        1px 3px 1px #3232f3,
        1px 4px 1px #3232f3,
        1px 5px 1px #3232f3,
        1px 6px 1px #3232f3,
        1px 7px 1px #3232f3,
        1px 8px 1px #3232f3,
        1px 9px 1px #3232f3;
}
.sliderItem:nth-child(4) .sliderTitle {
  text-shadow: 1px 1px 1px #ffffff,
        1px 2px 1px #ff0b02,
        1px 3px 1px #ff0b02,
        1px 4px 1px #ff0b02,
        1px 5px 1px #ff0b02,
        1px 6px 1px #ff0b02,
        1px 7px 1px #ff0b02,
        1px 8px 1px #ff0b02,
        1px 9px 1px #ff0b02;
}
.sliderItem:nth-child(5) .sliderTitle {
  text-shadow: 1px 1px 1px #ffffff,
        1px 2px 1px #ffd633,
        1px 3px 1px #ffd633,
        1px 4px 1px #ffd633,
        1px 5px 1px #ffd633,
        1px 6px 1px #ffd633,
        1px 7px 1px #ffd633,
        1px 8px 1px #ffd633,
        1px 9px 1px #ffd633;
}

.sliderBottom{
  display: flex;
  flex-direction: column;   
  position: absolute;
  left: 0%;
  top: 35%;
  z-index: 9;
  gap: 4vw;
}

.menuItem{
  margin-left: 1vw;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #f3f3f3;
}

.menuItem.active {
  background-color: #000000;
  border: 2px solid #ffffffb5; 
}

/*HERO*/

/*ADVERTISEMENT*/

.advertisement {
  width: 99.3vw;
  padding: 2.4vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
}

.top-line {
  font-family: "Ropa Sans", sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 900;
  padding: 10px;
  cursor: pointer;
}

.top-line:hover {
  text-decoration: underline;
}

.bottom-line {
  font-family: "Ropa Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.bottom-line:hover {
  text-decoration: underline;
}

/*ADVERTISEMENT*/

/*SLIDER*/

:root {
  --marquee-width: 180vw;
  --marquee-height: 6vh;
  --marquee-elements-displayed: 3;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 12s);
}

.ad-slider {
  font-family: "Ropa Sans", sans-serif;
  background-color: #eee;
  color: #111;
  width: 100%;
}

.marquee {
  width: 100%;
  height: var(--marquee-height);
  background-color: #000000;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
  animation-play-state: paused;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: 20px; /* 5rem; */
  white-space: nowrap;
}

.marquee-content li p {
  font-family: "Ropa Sans", sans-serif;
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}

.sliderBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

/*SLIDER*/

/*PUMA-Nitro*/

.Puma-NITRO {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 40vw;
  background: #fff;
  overflow: hidden;
  width: 99.3vw;
}

.Puma-NITRO .back {
  align-items: center;
  padding: 50px 50px;
  background: #000000;
  height: 85%;
  width: 100%;
  background: linear-gradient(-45deg, #000000, #f5ff37, #000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Puma-NITRO .back h1 {
  font-size: 3vw;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 5vw;
}

.Puma-NITRO .back h2 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.8vw;
  font-weight: 300;
  color: #f2f2f2;
}

.Puma-NITRO .back sup {
  font-size: 0.8vw;
  font-weight: 300;
  color: #f2f2f2;
  letter-spacing: 1px;
}

.Puma-NITRO .back button {
  padding: 10px 20px;
  background: #e5ff1f;
  color: #000;
  border: none;
  border-radius: 1vw;
  font-size: 1vw;
  font-weight: 300;
  cursor: pointer;
  margin-right: 1vw;
}

.Puma-NITRO .MS-Image {
  position: absolute;
  height: 78vh;
  width: 54.9vw;
  left: 44%;
  background-color: #000;
}

.MS-Image img {
  width: 54.9vw;
  height: 78vh;
}

/*PUMA-Nitro*/

/*DISPLAY*/

.display {
  padding-top: 3vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 99.3vw;
}

.display-grid {
  display: flex;
  height: 20vw;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.display h2 {
  padding-left: 2.5vw;
  font-size: 2.5vw;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h3 {
  font-family: "Ropa Sans", sans-serif;
  font-size: 1.2vw;
  padding-left: 3vw;
  margin-right: 3vw;
  font-weight: normal;
  cursor: pointer;
}

.heading h3:hover {
  text-decoration: underline;
}

.display-item {
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  height: fit-content;
  width: 15vw;
  background-color: #eeecec;
  margin: 0 2vw;
  transition: all 0.7s ease-in-out;
}

.display-item img {
  width: 15vw;
  height: 15vw;
  transition: all 0.6s ease-in-out;
}

.shoe-info h3 {
  font-size: x-large;
  margin-left: 1vw;
}

.shoe-info span {
  font-size: large;
  font-weight: normal;
}

.display-item:hover {
  box-shadow: #222222 0px 0px 5px;
}

.display-item:hover img {
  scale: 1.1;
  transform: rotate(10deg);
}

/*DISPLAY*/

/*TRENDING*/

.trending {
  height: 40vw;
  width: 99.3vw;
  background-color: #000;
  overflow: hidden;
  position: relative;
  display: flex;
}

.trending::before,
.trending::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 20%;
  z-index: 2;
}

.trending::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.trending::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.sliding-background {
  background: url("./assets/trnding-background.png") repeat-y 0 0;
  background-size: cover;
  height: auto;
  width: 100vw;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1120px; /* Move the image up by its own height */
  }
}

.trending-grid {
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.trending-item-1 {
  position: absolute;
  left: 12vw;
  height: 27vw;
  top: 7vw;
  width: 33vw;
  animation: all 2s ease-in-out;
}

.trending-item-1 img {
  width: 100%;
  height: 100%;
}

.trending-item-2 {
  position: absolute;
  left: 55vw;
  height: 27vw;
  top: 7vw;
  width: 33vw;
}

.trending-item-2 img {
  width: 100%;
  height: 100%;
}
/*TRENDING*/

/*CURSOR*/

.cursor {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f7eb15;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: background-color 1s ease;
  font-weight: 600;
}

.cursor.hovering {
  background-color: #e18e35;
  cursor: pointer;
  transition: background-color 1s ease;
}

.cursor.hovering-2 {
  background-color: #487825;
  cursor: pointer;
  transition: background-color 1s ease;
}

/*CURSOR*/

/*BANNER*/

.banner {
  position: relative;
  height: 35vw;
  width: 99.3vw;
  overflow: hidden;
}

.banner-reverse {
  position: relative;
  height: 35vw;
  width: 99.3vw;
  overflow: hidden;
}

.banner .shutter {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 99.3vw;
  height: 35vw;
  background: rgba(0, 0, 0, 0.736);
  transition: transform 1s;
  z-index: 100;
}

.banner-reverse .shutter {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 99.3vw;
  height: 35vw;
  background: rgba(0, 0, 0, 0.736);
  transition: transform 1s;
  z-index: 100;
}

.banner .shutter.open {
  transform: translateX(-100%);
}

.banner-reverse .shutter.open {
  transform: translateX(-100%);
}

.banner img {
  width: 100%;
  height: 35vw;
}

.banner-reverse img {
  width: 100%;
  height: 35vw;
}

.banner .text {
  position: relative;
  z-index: 99;
  bottom: 80%;
  left: 3.5%;
}

.banner-reverse .text {
  position: relative;
  z-index: 99;
  bottom: 76%;
  right: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.text h1 {
  font-size: 4vw;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.1vw;
  margin-top: 5vw;
}

.text h2 {
  margin-top: 0.2vw;
  margin-bottom: 0.7vw;
  font-size: 2.8vw;
  font-weight: 300;
  color: #f2f2f2;
  letter-spacing: 0.1vw;
}

.text button {
  margin-top: 1vw;
  padding: 1vw 2vw;
  background: #e5ff1f;
  color: #000;
  border: none;
  border-radius: 0.5vw;
  font-size: 1.5vw;
  font-weight: 300;
  cursor: pointer;
  margin-right: 1vw;
}

/*BANNER*/

/*IMAGE-SLIDER*/

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(-41%);
  }
  100% {
    transform: translateX(-0%);
  }
}

.image-slider .heading {
  background-color: #fff;
  padding: 2vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-slider h2 {
  padding-left: 3vw;
  font-size: 2.5vw;
}

.image-slider img {
  padding: 1vw;
  display: block;
  width: 100%;
  height: 25vw;
}

.image-slider {
  background-color: #fff;
  width: 99.3vw;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 2vw;
}

.image-slider article {
  display: flex;
  width: 200%;
  animation: bannermove 10s linear infinite;
}

.image-slider article.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.image-slider div {
  width: 100%;
}

.image-slider ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.image-slider li {
  position: relative;
}

.image-slider .image-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.4vw;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s;
}

.image-slider li:hover .image-text {
  opacity: 1;
}

/*IMAGE-SLIDER*/

/*FOOTER*/

footer img {
  width: 99.2vw;
  height: max-content;
  background-color: #111;
  overflow: hidden;
}

/*FOOTER*/